@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family:"inter", sans-serif;
    background:#000000;
}



.handicons{
  font-size:40px;
  margin-left:10px;
  color:#24d3ee;
  display: inline-block;
  animation: shake 0.7s infinite;
  transform-origin: bottom center;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}





