@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family:"inter", sans-serif;
    background:#000000;
}


::-webkit-scrollbar {
  display: none;
}



.handicons{
  font-size:40px;
  margin-left:10px;
  color:#24d3ee;
  display: inline-block;
  animation: shake 0.7s infinite;
  transform-origin: bottom center;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}



/* .loader {
  font-size: 40px;
  display: inline-block;
  
  font-weight: bold;
  color: 00000; 
  letter-spacing: 5px;
  position: relative;
}
.loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: #24d3ee;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 10s ease-in infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
 */


.circlerotation {
  animation: rotate 4s linear infinite; /* Infinite rotation */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(10deg); /* Full circle rotation */
  }
}





.active {
  font-weight: bold;
  color:  #24d3ee; 
}


.spinner {
   width: 56px;
   height: 56px;
   animation: spinner-c601d3 1s infinite;
   background-color: #24d3ee;
   border-radius: 50%;
}

@keyframes spinner-c601d3 {
   0% {
      opacity: 0;
      transform: scale(0) translateX(-300%);
   }

   50% {
      opacity: 1;
      transform: scale(1.25) translateX(0);
   }

   100% {
      opacity: 0;
      transform: scale(0) translateX(300%);
   }
}